@import './variables';
@mixin Button() {
  .Buttons {
    background-color: $ThemeNaturalYellow !important;
    color: $ThemenDarkGreen !important;

    &:hover {
      background-color: $ThemenMediumGreen !important;
      color: $ThemeNaturalYellow !important;
    }

    &:hover .Icon {
      color: $ThemeNaturalYellow !important;
    }
  }
}

body,
html {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

//  MENU STYLES START
.MenuBar {
  background-color: $ThemenDarkGreen;
  padding-top: 1rem;
  padding-bottom: 1em;

  .Brand {
    height: 13%;
    width: 13%;
  }

  .Icon {
    color: $ThemenMediumGreen;
  }

  .Buttons {
    background-color: $ThemeNaturalYellow !important;
    color: $ThemenDarkGreen !important;
    margin: 10px !important;

    &:hover {
      background-color: $ThemenMediumGreen !important;
      color: $ThemeNaturalYellow !important;
    }

    &:hover .Icon {
      color: $ThemeNaturalYellow !important;
    }
  }
}
//  MENU STYLES END

// MAIN PAGE START
.MainPage {
  & .Image {
    height: 100%;
    width: 100%;
  }

  & .DropDowns {
    display: flex;
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    border: 1px $ThemeNaturalYellow solid;
    background-color: $ThemeNaturalYellow;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

    .Icon {
      color: $ThemeNaturalYellow;
    }

    .Buttons {
      background-color: $ThemenDarkGreen !important;
      color: $ThemeNaturalYellow !important;
      margin: 10px !important;
      top: 30px;

      &:hover {
        background-color: $ThemenMediumGreen !important;
        color: $ThemeNaturalYellow !important;
      }

      &:hover .Icon {
        color: $ThemeNaturalYellow !important;
      }
    }
  }
}
// MAIN PAGE END

// SELECT STYLES START
.DropDown {
  .FormControl {
    margin: 2rem;
    min-width: 120 !important;
    width: 12rem;
  }
}
// SELECT STYLES END

// SELECT STYLES START
.LoginForm {
  height: 100vh;

  & .SubmitButton {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: $ThemenMediumGreen;
    color: $White;
  }

  & .Avatar {
    margin: 1rem;
    background-color: $ThemeNaturalYellow;
  }

  & .Image {
    background-image: url("./../src/assets/images/Typing-10839.gif");
    background-repeat: no-repeat;
    background-color: $ThemeNaturalYellow;
    background-size: cover;
    background-position: center;
  }

  & .Paper {
    margin: 8rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & .Form {
    width: 100%;
    margin-top: 1rem;
  }
}
// SELECT STYLES END

// CARD STYLES START

.Card {
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 0.5em solid $ThemenDarkGreen;
  & .FirstRow {
    display: flex;
    & .AdressArea {
      border-left: 0.7em solid $ThemenDarkGreen;
      border-radius: 50px 0px 0px 0px;
    }
    & .Details {
      display: flex;
      flex-direction: column;
      & .Content {
        flex: 1;
        font-size: 15px;
        & .Name {
          font-size: 20px;
        }
      }
      .Icon {
        color: $ThemenMediumGreen;
      }
      .Buttons {
        background-color: $ThemeNaturalYellow !important;
        color: $ThemenDarkGreen !important;

        &:hover {
          background-color: $ThemenMediumGreen !important;
          color: $ThemeNaturalYellow !important;
        }

        &:hover .Icon {
          color: $ThemeNaturalYellow !important;
        }
      }
      .CallButton {
        float: right;
        min-width: 50%
      }
    }
    & .Cover {
      width: 20%;// resim için ayarlama yapılacak
    }
  }
  & .SecondRow {
    display: flex;
    & .Details {
      display: flex;
      flex-direction: column;
      & .Content {
        flex: 1 0;
        font-size: 15px;
      }
      & .Views {
        display: flex !important;
        float: right !important;
        font-size: 12px !important;
        color: $Gray !important;
      }
    }
  }
}

.SquareUserCard {
  & .Cover {
    height: 20%;// resim için ayarlama yapılacak
  }
  & .CardActions {
    @include Button();
  }
}

// CARD STYLES END

// SEARCHRESULT STYLES START

.SearchResult {
  padding-left: 50px;
  padding-right: 20px;
  & .SideBar {
    display: flex;
    flex-direction: column;
    & .Search {
      @include Button();
      & .SearchButton {
        min-width: 40%;
      }
    }
  }
  & .CardList {
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
  }
}

// SEARCHRESULT STYLES END

// USERTABS STYLES START

.UserTabs {
  height: 100vh;
  overflow-y: scroll;
  & .Tab {
    background-color: $ThemenMediumGreen;
  }
}

.Summary {
  & .Row {
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    .Icon {
      color: $ThemenMediumGreen;
    }
    .Buttons {
      background-color: $ThemeNaturalYellow !important;
      color: $ThemenDarkGreen !important;

      &:hover {
        background-color: $ThemenMediumGreen !important;
        color: $ThemeNaturalYellow !important;
      }

      &:hover .Icon {
        color: $ThemeNaturalYellow !important;
      }
    }
  }
}

// USERTABS STYLES END

// SIGNUP FORM STYLE STARTS
.SignUpForm {
  & .Paper {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .Form {
      width: 100%;
      @include Button();
      & .Submit {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
// SIGNUP FORM STYLE ENDS

// USER PROFİLE STYLES STARTS

.UserProfile {
  margin-top: 150px;
}

// USER PROFILE STYLES ENDS

// COMMENTS STYLES STARTS

.Comments {
  @include Button();
  & .CommentEnter .Buttons {
    top: 90%;
  }
  & .CommentList {
    display: flex;
    flex-direction: column;
    height: 60vh;
    overflow-y: scroll;
  }
  & .CommentTextArea {
    width: 100%;
    height: 100px;
  }
}


// COMMENTS STYLES END
