@import './variables';

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }


//  MENU STYLES START

.MenuBar {
  background-color: $ThemenDarkGreen;
  padding-top: 1rem;
  padding-bottom: 1em;

  .Brand {
    height: 13%;
    width: 13%;
  }

  .Icon {
    color: $ThemenMediumGreen;
  }

  .Buttons {
    background-color: $ThemeNaturalYellow !important;
    color: $ThemenDarkGreen !important;
    margin: 10px !important;

    &:hover {
      background-color: $ThemenMediumGreen !important;
      color: $ThemeNaturalYellow !important;
    }

    &:hover .Icon{
      color: $ThemeNaturalYellow !important;
    }
  }
}

//  MENU STYLES END

// MAIN PAGE START

.MainPage {
  & .Image {
    height: 100%;
    width: 100%;
  }
  & .DropDowns {
    display: flex;
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    border: 1px $ThemeNaturalYellow solid;
    background-color: $ThemeNaturalYellow;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

    .Icon {
      color: $ThemeNaturalYellow;
    }

    .Buttons {
      background-color: $ThemenDarkGreen !important;
      color: $ThemeNaturalYellow !important;
      margin: 10px !important;

      &:hover {
        background-color: $ThemenMediumGreen !important;
        color: $ThemeNaturalYellow !important;
      }

      &:hover .Icon{
        color: $ThemeNaturalYellow !important;
      }
    }

  }
}

// MAIN PAGE END

// SELECT STYLES START

.DropDown {
  .FormControl {
    margin: 2rem;
    minWidth: 120 !important;
    width: 12rem;
  }
}

// SELECT STYLES END
